<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <fieldset>
    <legend>Sign up</legend>
    <%= devise_error_messages! %>
    <label>Username
      <%= f.text_field :username, autofocus: true %>
    </label>
    <label>Email
      <%= f.email_field :email, placeholder: "Email goes here..." %>
    <label>
    <label>Password
      <%= f.password_field :password, autocomplete: "off", placeholder: "Enter your password here..." %>
    </label>
    <label>Password confirmation
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm your password" %>
    </label>
    <%= f.submit "Sign up", class: "button radius" %>
    or
    <%= render "devise/shared/links" %>
  </fieldset>
<% end %>
