<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @budget.title %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @budget.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @budget.status %>
</p>

<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
