<%= form_for :transaction, url: account_transaction_path,:method => :put  do |f| %>
  <fieldset>
    <legend>Update transaction</legend>
    <label>Update amount
      <%= f.text_field :amount, :input_html => { :value => @transaction.amount } %>
    </label>
    <div class="field">
      <%= f.label :tag_list, "Tags (separated by commas)" %><br />
      <%= f.text_field :tag_list %>
    </div>
    <%= f.submit "Update transaction", class:"button round" %>  
  </fieldset>
<% end %>