<table>
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th>Last Updated</th>
    <th>Actions</th>
  </tr>
  <% total = 0 %> 
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.balance %></td>
      <td><%= account.updated_at %></td>
      <td>
        <%= link_to 'Show', account_path(account) %> | 
        <%= link_to "Edit", edit_account_path(account) %> | 
        <%= link_to 'Delete', account_path(account), method: :delete, data: { confirm: 'Are you sure? This operation could not be reverted!' } %>
        <%- if account.main == true %>
          <%= link_to make_main_account_path(account), method: :post, :remote => true do %>
            <button class = "data-selected make-main">Default</button>
          <%- end %>
        <%- else %>
          <%= link_to make_main_account_path(account), method: :post, :remote => true do %>
            <button class = "make-main">make default</button>
          <%- end %>
        <%- end %>
      </td>
      <% total += account.balance %>
    </tr>
  <% end %>
    <tr>
      <td>Total:</td>
      <td colspan = "3"><%= total %></td>
    </tr>
</table>

